.root {
  position: relative;
}

.root[data-loading="true"] {
  cursor: wait;
}

.content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: inherit;
}

.contentHidden {
  visibility: hidden;
}

.spinnerIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: calc(-1.15em / 2) 0 0 calc(-1.15em / 2);
  color: hsl(var(--loading-btn-spinner));
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
